/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* general styles */
html {
    height: 100vh;
}
body {
    font-family: Hanken Grotesk, Arial, sans-serif;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 18px;
}
ul,
li {
    list-style-type: none;
}
/* main styles */
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.your-result, 
.summary, 
.circle {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* your result card */
.your-result {
    color: #ffffff;
    background-image: linear-gradient(hsl(252, 100%, 67%) -350px, hsl(241, 81%, 54%));
    height: 550px;
    width: 400px;
    border-radius: 30px;
}
.your-result h1 {
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.circle {
    height: 190px;
    width: 190px;
    justify-content: center;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1) -5%, hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    margin-bottom: auto;
}
.score {
    font-size: 4.5rem;
}
.result-comment {
    text-align: center;
    margin-bottom: 60px;
}
.result-title {
    font-size: 1.9rem;
    margin-bottom: 20px;
}
.result-text {
    width: 14em;
}

/* summary card */
.summary {
    background-color: #ffffff;
}
