.summary {
    height: 600px;
    width: 440px;
}
.summary > * {
    margin: auto;
}
.summary-heading {
    font-size: 1.9rem;
    width: 365.883px;;
    font-weight: 600;
    margin-top: 46px;
    margin-bottom: 40px;
}
.stats-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    max-width: 365.883px;
    row-gap: 14px;
    margin-bottom: 50px;
}
.stats-list > * {
    padding: 20px 35px;
    max-width: 320px;
    border-radius: 15px;
    font-size: 22px;
    position: relative;
}
.stat1 {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}
.stat2 {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}
.stat3 {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}
.stat4 {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}
li img {
    position: absolute;
    left: 14px;
    top: 23px;
    height: 23px;
}
.stat-title {
    margin-left: 10px;
}
.stat-score {
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 22px;
}
.score-out-of {
    color: black;
}
.max-score {
    color: gray;
}
.button-holder {
    min-width: 440px;
}
.continue-button {
    display: block;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 19px;
    font-weight: 600;
    width: 370px;
    height: 69px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /*margin-left: 37px;
    margin-right: 37px;
    */
}
/* hsl(252, 100%, 67%) 10px, */
.continue-button:active {
    background-image:linear-gradient(hsl(252, 100%, 67%) -80px, hsl(241, 81%, 54%));
}